.table-condensed {
  max-width: 500px;
  margin: 2em auto;
}

.twocol:after {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}
.twocol {
    min-height: 1px;
}
.left {
  float: left;
  width: 48%;
}

.right{
  float: right;
  width: 48%;
}
